<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yuncommunity"
    android:versionCode="1"
    android:versionName="1.0.1" >

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />

    <permission android:name="android.permission.BAIDU_LOCATION_SERVICE" >
    </permission>

    <application
        android:name="com.oldfeel.conf.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/Theme.Yuncommunity" >
        <activity
            android:name="com.yuncommunity.WelcomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yuncommunity.theme.android.LoginRegisterActivity"
            android:label="@string/action_sign_in_short"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="com.yuncommunity.theme.android.MainActivity"
            android:launchMode="singleTask" >
        </activity>
        <activity android:name="com.yuncommunity.theme.android.CollapseActivity" >
        </activity>
        <activity android:name="com.yuncommunity.theme.android.ForgetPassword" >
        </activity>
        <activity android:name="com.yuncommunity.theme.android.InformationReleaseActivity" >
        </activity>
        <activity android:name="com.yuncommunity.theme.android.SearchActivity" >
        </activity>
        <activity android:name="com.yuncommunity.theme.android.PersonHomeActivity" >
        </activity>
        <activity android:name="com.yuncommunity.theme.android.FeedbackActivity" >
        </activity>
        <activity android:name="com.yuncommunity.theme.android.MySettingsActivity" >
        </activity>
        <activity android:name="com.yuncommunity.theme.android.InformationDetail" >
        </activity>
        <activity android:name="com.yuncommunity.theme.android.ChatActivity" >
        </activity>
        <activity android:name="com.yuncommunity.theme.android.UserReleaseList" >
        </activity>
        <activity android:name="com.yuncommunity.theme.android.UserList" >
        </activity>
        <activity android:name="com.yuncommunity.theme.android.EditPersonInfo" >
        </activity>
        <activity android:name="com.yuncommunity.theme.android.ChangePassword" >
        </activity>
        <activity android:name="com.yuncommunity.theme.android.ProductList" >
        </activity>
        <activity android:name="com.yuncommunity.theme.android.CommunityManager" >
        </activity>
        <activity android:name="com.yuncommunity.theme.android.CommunityBaiduMap" >
        </activity>
        <activity android:name="com.yuncommunity.theme.android.CommunityEdit" >
        </activity>
        <activity android:name="com.yuncommunity.theme.android.SelectAddressBaiduMap" >
        </activity>
        <activity android:name="com.yuncommunity.theme.android.InformationBaiduMap" >
        </activity>
        <activity android:name="com.yuncommunity.theme.android.ActivityDetail" >
        </activity>
        <activity android:name="com.yuncommunity.theme.android.ActivitySignUps" >
        </activity>
        <activity android:name="com.yuncommunity.theme.android.CommunityGoogleMap" >
        </activity>
        <activity android:name="com.yuncommunity.theme.android.InformationGoogleMap" >
        </activity>
        <activity android:name="com.yuncommunity.theme.android.SelectAddressGoogleMap" >
        </activity>
        <activity android:name="com.yuncommunity.theme.android.ChangeCommunity" >
        </activity>
        <activity android:name="com.yuncommunity.theme.android.SwitchTheme" >
        </activity>
        <activity android:name="com.yuncommunity.theme.ios.I_ActivityDetail" >
        </activity>
        <activity
            android:name="com.yuncommunity.theme.ios.I_MainActivity"
            android:launchMode="singleTask" >
        </activity>
        <activity android:name="com.yuncommunity.theme.ios.I_MyAttention" >
        </activity>
        <activity android:name="com.yuncommunity.theme.ios.I_MyCollection" >
        </activity>
        <activity android:name="com.yuncommunity.theme.ios.I_PersonInfo" >
        </activity>
        <activity android:name="com.yuncommunity.theme.ios.I_ProductDetail" >
        </activity>
        <activity android:name="com.yuncommunity.theme.ios.I_ProductList" >
        </activity>
        <activity android:name="com.yuncommunity.theme.ios.I_ReleaseActivity" >
        </activity>
        <activity android:name="com.yuncommunity.theme.ios.I_ReleaseProduct" >
        </activity>
        <activity android:name="com.yuncommunity.theme.ios.I_Setting" >
        </activity>
        <activity android:name="com.yuncommunity.theme.ios.I_SquareDetail" >
        </activity>
        <activity android:name="com.yuncommunity.theme.ios.I_ReleaseSquare" >
        </activity>
        <activity android:name="com.yuncommunity.theme.ios.I_LoginActivity" >
        </activity>
        <activity android:name="com.yuncommunity.theme.ios.I_RegisterActivity" >
        </activity>
        <activity android:name="com.yuncommunity.theme.ios.I_ForgetPassword" >
        </activity>
        <activity android:name="com.yuncommunity.theme.ios.I_ChangeCommunity" >
        </activity>
        <!-- 百度应用统计 -->
        <!-- 渠道商编号,其中 name 请不要改,将 value 修改为渠道商编号。渠道名称请到 mtj.baidu.com的渠道管理中修改 -->
        <meta-data
            android:name="BaiduMobAd_CHANNEL"
            android:value="Baidu	Market" />
        <!-- 您从百度网站获取的 APP	KEY -->
        <meta-data
            android:name="BaiduMobAd_STAT_ID"
            android:value="a800660f32" />
        <!-- 是否开启错误日志统计，默认为 false -->
        <meta-data
            android:name="BaiduMobAd_EXCEPTION_LOG"
            android:value="false" />
        <!-- 日志发送策略，可选值：APP_START、ONCE_A_DAY、SET_TIME_INTERVAL，默认为 APP_START -->
        <meta-data
            android:name="BaiduMobAd_SEND_STRATEGY"
            android:value="APP_START" />
        <!-- 上面的日志发送策略 为 SET_TIME_INTERVAL 时，需设定时间间隔。取值为 1-24（小时）的整数，默认为 1 -->
        <meta-data
            android:name="BaiduMobAd_TIME_INTERVAL"
            android:value="2" />
        <!-- 日志仅在 wifi 网络下发送，默认为 false -->
        <meta-data
            android:name="BaiduMobAd_ONLY_WIFI"
            android:value="false" />
        <!-- 是否获取基站位置信息，默认为 true(获取基站位置) -->
        <meta-data
            android:name="BaiduMobAd_CELL_LOCATION"
            android:value="true" />

        <!-- 百度地图 api key -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="MgChdEKGimRdwdAPBNzqmNOe" >
        </meta-data>
        <!-- 谷歌地图 api key -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCit0vy_64wpfRk9IuxI2LuE86goh_slXE" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>