<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yuncommunity"
    android:versionCode="1"
    android:versionName="1.0.1" >

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" >
    </uses-permission>

    <permission android:name="android.permission.BAIDU_LOCATION_SERVICE" >
    </permission>

    <application
        android:name="com.yuncommunity.app.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/Theme.Yuncommunity" >
        <activity
            android:name="com.yuncommunity.WelcomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yuncommunity.LoginRegisterActivity"
            android:label="@string/action_sign_in_short"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="com.yuncommunity.MainActivity"
            android:launchMode="singleTask" >
        </activity>
        <activity android:name="com.yuncommunity.CollapseActivity" >
        </activity>
        <activity android:name="com.yuncommunity.ForgetPassword" >
        </activity>
        <activity android:name="com.yuncommunity.InformationReleaseActivity" >
        </activity>
        <activity android:name="com.yuncommunity.SearchActivity" >
        </activity>
        <activity android:name="com.yuncommunity.PersonHomeActivity" >
        </activity>
        <activity android:name="com.yuncommunity.FeedbackActivity" >
        </activity>
        <activity android:name="com.yuncommunity.MySettingsActivity" >
        </activity>
        <activity android:name="com.yuncommunity.InformationDetail" >
        </activity>
        <activity android:name="com.yuncommunity.ChatActivity" >
        </activity>
        <activity android:name="com.yuncommunity.UserReleaseList" >
        </activity>
        <activity android:name="com.yuncommunity.UserList" >
        </activity>
        <activity android:name="com.yuncommunity.EditPersonInfo" >
        </activity>
        <activity android:name="com.yuncommunity.ChangePassword" >
        </activity>
        <activity android:name="com.yuncommunity.ProductList" >
        </activity>
        <activity android:name="com.yuncommunity.CommunityIntroduction" >
        </activity>
        <activity android:name="com.yuncommunity.CommunityMap" >
        </activity>
        <activity android:name="com.yuncommunity.CommunityEdit" >
        </activity>
        <activity android:name="com.yuncommunity.SelectAddress" >
        </activity>
        <activity android:name="com.yuncommunity.InformationMap" >
        </activity>
        <activity android:name="com.yuncommunity.ActivityDetail" >
        </activity>
        <activity android:name="com.yuncommunity.ActivitySignUps" >
        </activity>
        <!-- 渠道商编号,其中 name 请不要改,将 value 修改为渠道商编号。渠道名称请到 mtj.baidu.com的渠道管理中修改 -->
        <meta-data
            android:name="BaiduMobAd_CHANNEL"
            android:value="Baidu	Market" />
        <!-- 您从百度网站获取的 APP	KEY -->
        <meta-data
            android:name="BaiduMobAd_STAT_ID"
            android:value="0b4f8d1586" />
        <!-- 是否开启错误日志统计，默认为 false -->
        <meta-data
            android:name="BaiduMobAd_EXCEPTION_LOG"
            android:value="false" />
        <!-- 日志发送策略，可选值：APP_START、ONCE_A_DAY、SET_TIME_INTERVAL，默认为 APP_START -->
        <meta-data
            android:name="BaiduMobAd_SEND_STRATEGY"
            android:value="APP_START" />
        <!-- 上面的日志发送策略 为 SET_TIME_INTERVAL 时，需设定时间间隔。取值为 1-24（小时）的整数，默认为 1 -->
        <meta-data
            android:name="BaiduMobAd_TIME_INTERVAL"
            android:value="2" />
        <!-- 日志仅在 wifi 网络下发送，默认为 false -->
        <meta-data
            android:name="BaiduMobAd_ONLY_WIFI"
            android:value="false" />
        <!-- 是否获取基站位置信息，默认为 true(获取基站位置) -->
        <meta-data
            android:name="BaiduMobAd_CELL_LOCATION"
            android:value="true" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="rUst8SeKI4jopNCyFCjsMmoO" >
        </meta-data>
    </application>

</manifest>